spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cloudstorage
    username: user
    password: pass
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true

server:
  port: 8080

jwt:
  secret: mySecretKey
  expiration: 86400000